   <!-- Menu OffCanvas right begin -->
        <div class="navright-button hidden-sm">
            <div class="compact-menu-canvas" id="offcanvas-menu">
                <h3>menu</h3><a id="btn-close-canvasmenu"><i class="fa fa-close"></i></a>
                <nav>
                  <ul class="clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="features.html">Features</a></li>
                        <li><a href="pages.html">Pages</a></li>
                        <li><a href="portfolio.html">Portfolios</a></li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>                
                </nav>
            </div>
        </div> 
        <!-- Menu OffCanvas right close -->