            <!-- section begin -->
            <section id="section-about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <img src="/assets/images/EasyLogo.png" alt="about image" class="img-responsive">
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="about-box">
                                <h2 class="box-title">Easy Tech</h2>
                                <div class="tiny-border"></div>
                                <p>Nous sommes les mieux placés pour permettre aux entreprises en plein essor de s'étendre au-delà des frontières africaines. 
                                Cela est dû au fait que nous opérons dans 15 pays africains. Notre forte présence géographique,
                                 notre expertise locale et notre infrastructure informatique exceptionnelle nous distinguent de nos concurrents.</p>
                                <ul class="list-style-1">
                                    <li>Boostez votre activité grâce à un déploiement rapide dans toutes les régions géographiques</li>
                                    <li>Effectuer des communications à distance pour des performances maximales</li>
                                    <li>Stimuler la qualité des performances de nos clients</li>
                                    <li>Flexibilité dans votre entreprise par la fiabilité de nos services</li>
                                    <li>Devenez votre moteur de croissance grâce aux réseaux de nos partenaires dans le monde</li>
                                </ul>
                                <div class="divider-single"></div>
                                <!--<a href="#" class="btn btn-primary btn-small">Get Started</a>-->                              
                            </div>
                        </div>
                       
                    </div>
                </div>        
            </section>
            <!-- section close -->