  <!-- section begin -->
            <section id="service-intro">                
                <div class="container">
                    <div class="row">                                                
                        <div class="col-md-8 col-md-offset-2">
                            <div class="service-text-intro text-center">
                                <h2>Easy Tech services</h2>
                            </div>                                              
                        </div>
                    </div>
                </div>        
            </section>
            <!-- section close --> 
 
 <!-- section begin -->
            <section id="section-about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <img src="/assets/images/drc.png" alt="about image" class="img-responsive">
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="about-box">
                                <h2 class="box-title">DRC MAIN POP COVERAGE</h2>
                                <div class="tiny-border"></div>
                                <h4 class="box-title">Couverture de DRC Main Pop</h3>
                                <p>La connectivité est l'élément essentiel des affaires d'aujourd'hui.
                                 Votre entreprise prend en charge vos canaux de communication CRM,
                                  vos processus métiers et vos outils de gestion de la supply chain.
                                   Les communications internes, régionales et transfrontalières en dépendent fortement. Le partage d'informations l'exige.
                                 La disponibilité maximale n'est pas négociable.
                                  EASYTECH peut vous proposer la location d'une ligne idéale ou d'une solution Raahnet parfaite en
                                   acheminant votre trafic Internet via notre réseau MPLS. C'est rapide. C'est fiable.
                                    C'est sur. Prise en charge 24h / 24 et 7j / 7 par le réseau le plus efficace</p>
                                
                                <div class="divider-single"></div>
                                <!--<a href="#" class="btn btn-primary btn-small">Get Started</a>-->                              
                            </div>
                        </div>
                       
                    </div>
                </div>        
            </section>
            <!-- section close -->

