   <!-- section begin -->
            <section id="service-intro">                
                <div class="container">
                    <div class="row">                                                
                        <div class="col-md-8 col-md-offset-2">
                            <div class="service-text-intro text-center">
                                <h2>Easy Tech services</h2>
                            </div>                                              
                        </div>
                    </div>
                </div>        
            </section>
            <!-- section close --> 
 
 <!-- section begin -->
            <section id="section-about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <img src="/assets/images/mpls.jpg" alt="about image" class="img-responsive">
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="about-box">
                                <h2 class="box-title">AFRICA MPLS ARCHITECTURE</h2>
                                <div class="tiny-border"></div>
                                <h4 class="box-title">Architecture</h3>
                                <p>
                                    <ul class="list-style-1">
                                        <li>Câbles sous-marins</li>
                                        <li>Lien KINSHASA -LONDRES</li>
                                        <li>Lien LUBUMBASHI -LONDRES</li>
                                        <li>Lien GOMA -LONDRES</li>
                                        <li>Link GOMA – KIGALI</li>
                                    </ul>
                                </p>
                                <div class="divider-single"></div>
                                <!--<a href="#" class="btn btn-primary btn-small">Get Started</a>-->                              
                            </div>
                        </div>
                       
                    </div>
                </div>        
            </section>
            <!-- section close -->









