  <!-- section begin -->
            <section id="service-intro">                
                <div class="container">
                    <div class="row">                                                
                        <div class="col-md-8 col-md-offset-2">
                            <div class="service-text-intro text-center">
                                <h2>Easy Tech services</h2>
                            </div>                                              
                        </div>
                    </div>
                </div>        
            </section>
            <!-- section close --> 
 
 <!-- section begin -->
            <section id="section-about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <img src="/assets/images/sip.jpg" alt="about image" class="img-responsive">
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="about-box">
                                <h2 class="box-title">VOIX OVER IP</h2>
                                <div class="tiny-border"></div>
                                <h4 class="box-title">IP-PABX : Sip Trunk</h3>
                                <p>EASYTECH vous propose une solution de commutation TDM & IP (E1 & SIP) orientée entreprise pour connecter des postes téléphoniques internes dans une organisation ou une entreprise.
                                 Avec RAAH, vous avez la possibilité de connecter votre PABX à son réseau commuté.
                                 Cela se fait via une connexion faisceau avec des canaux dédiés disponibles 24/7 sur une architecture d'entreprise différente du GSM.</p>
                                
                                <div class="divider-single"></div>
                                <!--<a href="#" class="btn btn-primary btn-small">Get Started</a>-->                              
                            </div>
                        </div>
                       
                    </div>
                </div>        
            </section>
            <!-- section close -->

