<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}EASYTECH HOME PAGE!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <!-- Favicons
    ================================================== -->


    <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">    
   
    <!-- LOAD CSS FILES -->    
    <link href="/assets/style.css" rel="stylesheet" type="text/css">  

           <style>
   .custom-font-1{ transition: all 0s ease 0s;
    min-height: 0px;
    min-width: 0px;
    line-height: 22px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-size: 46px;
    left: 357px;
    top: 250px;
    visibility: visible;
    opacity: 0;
    transform: none;
   }
   </style>
    <!-- color scheme -->
    <link rel="stylesheet" href="/assets/switcher/demo.css" type="text/css">
    <link rel="stylesheet" href="/assets/switcher/colors/green.css" type="text/css" id="colors">  
        {% endblock %}

        
    </head>
    <body>
        {% block body %}
        
        

    

        <div class="clearfix"></div>  

        
    


        
        {% endblock %}
        {% block javascripts %}

            <!-- LOAD JS FILES -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/easing.js"></script>
    <script src="/assets/js/owl.carousel.js"></script>
    <script src="/assets/js/jquery.fitvids.js"></script>    
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>

    <!-- Waypoints-->
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/sticky.min.js"></script>
    <script src="/assets/js/tipper.js"></script>
    <script src="/assets/js/compact.js"></script>
    <script src="/assets/js/custom-index1.js"></script>

    <!-- SLIDER REVOLUTION SCRIPTS  -->
    <script type="text/javascript" src="/assets/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="/assets/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/assets/js/revslider-custom.js"></script> 


    <script src="/assets/switcher/demo.js"></script>
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>
</html>
