<!-- section begin -->
            <section id="section-project" class="no-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="latest-projects clearfix">
                                <div class="latest-projects-intro">
                                    <h2 class="box-title">Projects Réalisés</h2>
                                    <div class="tiny-border-light"></div>            
                                    <p>Pellentesque gravida diam orci, vitae venenatis est eleifend sed. Proin non pretium turpis</p>        
                                </div>
                                <div class="latest-projects-wrapper">
                                    <div id="latest-projects-items" class="latest-projects-items">
                                        <div class="item">
                                            <img src="/assets/images/projects/small-2.jpg" alt="" class="img-responsive">
                                            <div class="project-details">
                                                <p class="folio-title"><a href="#">Plan For Your Bussiness</a></p>
                                                <p class="folio-cate"><i class="fa fa-tag"></i><a href="#">Finance</a>, <a href="#">Marketing</a></p>
                                                <div class="folio-buttons">
                                                    <a href="/assets/images/projects/medium-1.jpg" title="Plan For Your Bussiness" class="folio"><i class="fa fa-search"></i></a>
                                                    <a href="#"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="/assets/images/projects/small-3.jpg" alt="" class="img-responsive">
                                            <div class="project-details">
                                                <p class="folio-title"><a href="#">Business Growth Solutions</a></p>
                                                <p class="folio-cate"><i class="fa fa-tag"></i><a href="#">Finance</a>, <a href="#">Marketing</a></p>
                                                <div class="folio-buttons">
                                                    <a href="/assets/images/projects/medium-2.jpg" title="Business Growth Solutions" class="folio"><i class="fa fa-search"></i></a>
                                                    <a href="#"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="/assets/images/projects/small-4.jpg" alt="" class="img-responsive">
                                            <div class="project-details">
                                                <p class="folio-title"><a href="#">Enterprise Development</a></p>
                                                <p class="folio-cate"><i class="fa fa-tag"></i><a href="#">Finance</a>, <a href="#">Marketing</a></p>
                                                <div class="folio-buttons">
                                                    <a href="/assets/images/projects/medium-3.jpg" title="Enterprise Development" class="folio"><i class="fa fa-search"></i></a>
                                                    <a href="#"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="/assets/images/projects/small-1.jpg" alt="" class="img-responsive">
                                            <div class="project-details">
                                                <p class="folio-title"><a href="#">Successful Business</a></p>
                                                <p class="folio-cate"><i class="fa fa-tag"></i><a href="#">Finance</a>, <a href="#">Marketing</a></p>
                                                <div class="folio-buttons">
                                                    <a href="/assets/images/projects/medium-4.jpg" title="Successful Business" class="folio"><i class="fa fa-search"></i></a>
                                                    <a href="#"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="/assets/images/projects/small-5.jpg" alt="" class="img-responsive">
                                            <div class="project-details">
                                                <p class="folio-title"><a href="#">Marketing Strategy</a></p>
                                                <p class="folio-cate"><i class="fa fa-tag"></i><a href="#">Finance</a>, <a href="#">Marketing</a></p>
                                                <div class="folio-buttons">
                                                    <a href="/assets/images/projects/medium-5.jpg" title="Marketing Strategy" class="folio"><i class="fa fa-search"></i></a>
                                                    <a href="#"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="/assets/images/projects/small-6.jpg" alt="" class="img-responsive">
                                            <div class="project-details">
                                                <p class="folio-title"><a href="#">Effective Recruitment</a></p>
                                                <p class="folio-cate"><i class="fa fa-tag"></i><a href="#">Finance</a>, <a href="#">Marketing</a></p>
                                                <div class="folio-buttons">
                                                    <a href="/assets/images/projects/medium-6.jpg" title="Effective Recruitment" class="folio"><i class="fa fa-search"></i></a>
                                                    <a href="#"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        
            </section>
            <!-- section close -->